* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

body {
	background-color: #d7e3ef;
}

header {
	background-color: #3b73b1;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}

hr {
	border-top: 2px solid #768ba2;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

 p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
 }

a:hover {
	color: #89abd0;
}

.container {
	width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
}

.bkgrnd-color {
	background-color: #d7e3ef;
	/*background-color: #EFE3D7;*/
}

.border {
	border: 2px solid #768ba2;
	padding: 2px;
}

.brown-text {
	color: #51453B;
}

.btn {
	padding: 10px;
	border-color: #aaaaaa;
	border-width: 2px;
	color: #aaaaaa;
}

.btn:hover {
	border-color: #aaaaaa;
	color: green;
}

.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}

.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}

.btn-group {
	margin-top: 5px;
}

.btn.signup-btn:hover {
	border-color: #aaaaaa;
	color: blue;
}

.cancel-btn {
	margin-left: 5px;
}

.category-list {
	min-width: 137px;
	min-height: 220px;
	background-color: #EFE3D7;
	border-right: 1px solid grey;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.error {
	color: red;
}

.form-group {
	margin: auto;
}

.form-control {

}

.glyphicon {
	margin-right: 10px;
}

.grey-text {
	color: #7B7573;
}

.gsignup-btn {
	display: inline;
	position: absolute;
	right: 0px;
}

.gsignin-text {
	display: inline;
	position: absolute;
	left: 0px;
	max-width: 180px;
}


.headerspan {
	width: 80%;
	display: flex;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.item {
	background: #F0F0F0;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
}

.items-list {
	min-height: 220px;
	background-color: #EFE3D7;
}

.login-btn {
	margin-right: 6px;
}

.login-container{
	flex: 1;
}

.login-form {
	max-width: 303px;
}

.login-signup-links {
	position: relative;
	bottom: -70px;
}

.login-window {
	margin: auto
}

.margin-right {
	margin-right: 30px;
}

.new-item-link {
	padding-left: 15px;
}

.padding-top {
	padding-top: 30px;
}

.padding-bottom {
	padding-bottom: 30px;
}

.padding-none {
	padding: 0;
}

.row {
	margin: 0;
}

.signup-btn {
	margin-left: 3px;
	margin-right: 3px;
}

.third-party-auth {
	max-width: 303px;
	position: relative;
	left: 0px;
	margin-top: 10px;
}

.title {
	flex: 3;
}


/*@media (max-width: 380px) {
	.container {
		width: 100%;
	    margin-right: auto;
	    margin-left: auto;
	    padding-right: 0px;
	    padding-left: 0px;
	    margin-top: 0px;
	}
	.headerspan {
		width: 100%;
		display: flex;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	    padding-right: 0px;
	    padding-left: 0px;
	}
	.login-signup-links {
		padding-right: 2px;
	}
}*/

@media (max-width: 460px) {
	.container {
		width: 100%;
	    margin-right: auto;
	    margin-left: auto;
	    padding-right: 0px;
	    padding-left: 0px;
	    margin-top: 0px;
	}
	.headerspan {
		width: 100%;
		display: flex;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	    padding-right: 0px;
	    padding-left: 0px;
	}
	.login-signup-links {
		padding-right: 2px;
	}
}


@media (min-width: 461px) and (max-width: 535px) {
	.container {
		width: 95%;
	    margin-right: auto;
	    margin-left: auto;
	    padding-right: 5px;
	    padding-left: 5px;
	    margin-top: 10px;
	}
	.headerspan {
		width: 95%;
		display: flex;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	    padding-right: 5;
	    padding-left: 5;
	}
}

@media (min-width: 536px) and (max-width: 625px) {
	.container {
		width: 90%;
	    margin-right: auto;
	    margin-left: auto;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-top: 20px;
	}
	.headerspan {
		width: 90%;
		display: flex;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	    padding-right: 15px;
	    padding-left: 15px;
	}
}

@media (min-width: 626px) and (max-width: 735px) {
	.container {
		width: 85%;
	    margin-right: auto;
	    margin-left: auto;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-top: 20px;
	}
	.headerspan {
		width: 85%;
		display: flex;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	    padding-right: 15px;
	    padding-left: 15px;
	}
}

@media (min-width: 736px) and (min-width: 992px) {
	.container {
		width: 66.67%;
	    margin-right: auto;
	    margin-left: auto;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-top: 20px;
	}
	.headerspan {
		display: flex;
		width: 66.67%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	    padding-right: 15px;
	    padding-left: 15px;
	}
}


@media (min-width: 993px) and (max-width: 1100px) {
	.container {
		width: 75%;
	    margin-right: auto;
	    margin-left: auto;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-top: 20px;
	}
	.headerspan {
		width: 75%;
		display: flex;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	    padding-right: 15px;
	    padding-left: 15px;
	}
}

@media (min-width: 1101px) {
	.container {
		width: 900px;
	    margin-right: auto;
	    margin-left: auto;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-top: 20px;
	}
	.headerspan {
		width: 900px;
		display: flex;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	    padding-right: 15px;
	    padding-left: 15px;
	}
}