{% extends "main.html" %}
{% block content %}

    <div class="category-list col-xs-4">
        <h2> Categories </h2>
        <ul>
            {% for category in categories %}
            <li class="list-item-link">
                <a href="{{url_for('showCategory', category_name = category.name)}}">
                    {{category.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="items-list col-xs-8">
        <h2> {{category_name}} Items ({{numitems}} items)</h2>
        <ul>
            {% for item in items %}
            <li class="list-item-link">
                <a href="{{url_for('showItem', category_name = item.category_name, item_name = item.name)}}">
                    {{item.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="new-item-link">
        <a href="{{url_for('newItem', category_name = category_name)}}">New item</a>
    </div>
{% endblock %}