<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='mystyles.css') }}">
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN. Taken from Udacity's Creating Google Sign in lesson.-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>

<body>
    <header class="container-fluid">
        <div class="headerspan">
            <div class="title text-left">
                <h1> Catalog App </h1>
            </div>
            <div class="links-container">
                <div class="login-signup-links text-right">
                    {%if 'username' not in session %}
                    <a href="{{url_for('showLogin')}}">Login </a>
                    {% else %}
                    <a href="{{url_for('logout')}}">Logout </a>
                    {% endif %}
                    <a href="{{url_for('newUser')}}">| Signup </a>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row bkgrnd-color">
            <form class="login-form" action="{{url_for('showLogin')}}" method="POST">
                <div class="form-group">

                    <div class="">
                        <h2> Login </h2>
                    </div>

                    <div class="error-message">
                        {% if error %}
                        <p class="error"><strong>Error:</strong> {{ error }}</p>
                        {% endif %}
                    </div>

                    <label for="name">Username:</label>
                    <input type="text" maxlength="50" class="form-control" name="username">

                    <label for="description">Password:</label>
                    <input type="password" maxlength="50" class="form-control" name="password">
                    <hr>

                    <div class="btn-group">
                        <button type="submit" class="login-btn btn btn-default" id="submit">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Login
                        </button>
                        <a href = "{{url_for('newUser')}}">
                            <button type="button" class="btn btn-default signup-btn">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Sign-up
                            </button>
                        </a>
                        <a href = "{{url_for('showCatalog')}}">
                            <button type="button" class="btn btn-default delete cancel-btn">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
                            </button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="third-party-auth">
            <span class="gsignin-text">
                Or sign in with Google
            </span>
            <!-- GOOGLE PLUS SIGN IN-->
            <div class="gsignup-btn" id="signInButton">
                <span class="g-signin"
                    data-scope="openid email"
                    data-clientid="374231697905-4nr81if6k9h4r9n1lclb8eput2eko1fs.apps.googleusercontent.com"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback"
                    data-approvalprompt="force">
                  </span>
            </div>

            <div id="result"></div>
        </div>
    </div>
    <script>
    function signInCallback(authResult) {
        if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server
            // responds, write a 'login successful' message to the web
            //rpage and then edirect back to the main restaurants page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                data: authResult['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        $('#result').html('Login Successful!</br>'+ result +
                                          '</br>Redirecting...')
                        setTimeout(function() {
                        window.location.href = "/catalog";
                        }, 500);
                    } else if (authResult['error']) {
                        console.log('There was an error: ' +
                                    authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call.\
                                          Check your configuration and console.');
                    }
                }
            });
        }
    }
    </script>
    <!--END GOOGLE PLUS SIGN IN -->
</body>
</html>