<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='mystyles.css') }}">
    </head>

    <body>
        <header class="container-fluid">
                <div class="headerspan">
                    <div class="title text-left">
                        <h1> Catalog App </h1>
                    </div>

                    <div class="links-container">
                        <div class="login-signup-links text-right">
                            {%if 'username' not in session %}
                            <a href="{{url_for('showLogin')}}">Login </a>
                            {% else %}
                            <a href="{{url_for('logout')}}">Logout </a>
                            {% endif %}
                            <a href="{{url_for('newUser')}}">| Signup </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row bkgrnd-color">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>
