<!DOCTYPE html>
<html lang="en">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='mystyles.css') }}">
    </head>

    <body>
        <header class="container-fluid">
            <div class="row headerspan">
                <div class="col-sm-2"></div>
                <div class="col-sm-6 text-left">
                    <h1> Catalog App </h1>
                </div>

                <div class="col-sm-2 text-right">
                    {%if 'username' not in session %}
                    <a href="{{url_for('showLogin')}}">Login </a>
                    {% else %}
                    <a href="{{url_for('logout')}}">Logout </a>
                    {% endif %}
                </div>
                <div class="col-sm-2"></div>
            </div>
        </header>

        <div class="container">
            <div class="row bkgrnd-color">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>
